@model AuthorDetailsViewModel

@{
	ViewData["Title"] = "Posts";
}

<div class="container">

	<div class="d-flex justify-content-between mb-3" style="text-align: center;">
		<img src="@Model.Author.Photo" class="img-fluid" alt="Post Image" />
		<div>
			<h2>@Model.Author.FirstName</h2>
			<h2>(@Model.Author.Username)</h2>
			<h2>@Model.Author.LastName</h2>
		</div>
	</div>

	@foreach (var post in Model.Posts)
	{
		<div class="card mb-3">
			<div class="card-header">
				<strong>@post.Title</strong> by <a asp-controller="Posts" asp-action="AuthorDetails" name="@post.Author">@post.Author</a> on @post.CreatedAt.ToString("MMMM dd, yyyy")
			</div>
			<div class="card-body">
				<p>@post.Content</p>
				@if (post.Images != null && post.Images.All(image => image != null))
				{
					<div class="row">
						@foreach (var imageUrl in post.Images)
						{
							<div class="col-md-3">
								<img src="@imageUrl" class="img-fluid" alt="Post Image" />
							</div>
						}
					</div>
				}
			</div>
			<div class="card-footer">
				@if (post.Comments != null && post.Comments.Any())
				{
					<h5>Comments:</h5>
					<ul>
						@foreach (var comment in post.Comments)
						{
							<li>@comment.Content (@comment.Author on @comment.CreatedAt.ToString("MMMM dd, yyyy"))</li>
						}
					</ul>
				}
				<form method="post" asp-controller="Posts" asp-action="AddComment">
					<input type="hidden" name="postId" value="@post.Id" />
					<div class="input-group">
						<input type="text" id="commentContent" name="commentContent" class="horizontal-input form-control" placeholder="Add a comment..." />
						<div class="input-group-append">
							<button type="submit" class="btn btn-primary">
								<img src="/images/send-icon.png" alt="Send" style="width: 20px; height: 20px;" />
								Send
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	}
</div>