@model AuthorDetailsViewModel

@{
	ViewData["Title"] = "Posts";
}

<div class="container">

	<div class="d-flex justify-content-center mb-3" style="text-align: center;">
		@if (@Model.Author.Photo != null)
		{
			<img src="@Model.Author.Photo" class="img-fluid" alt="Profile Image" />
		}
		<div>
			<h2>@Model.Author.FirstName</h2>
			<h2>(@Model.Author.Username)</h2>
			<h2>@Model.Author.LastName</h2>
		</div>
	</div>

	@foreach (var post in Model.Posts)
	{
		<div class="card mb-3">
			<div class="card-header justify-content-between">
				<strong>@post.Title</strong> by @post.Author on @post.CreatedAt.ToString("MMMM dd, yyyy")
				<a class="btn btn-danger mb-3" asp-controller="Posts" asp-action="Delete" asp-route-post="@post">Delete Post</a>
			</div>
			@Html.Partial("PostContentPartial", post)
			@Html.Partial("CommentsPartial", post)
		</div>
	}
</div>