@model UserDetailsViewModel

@{
	ViewData["Title"] = "Posts";
}

<div class="container">

	<div class="d-flex justify-content-center mb-3" style="text-align: center;">
		<img src="@(Model.Author.Photo is null ? Url.Content("~/images/profile-icon.png") : Model.Author.Photo)" class="profile-photo" alt="Profile Image" />
		<div>
			<h2>@Model.Author.FirstName</h2>
			<h2>(@Model.Author.Username)</h2>
			<h2>@Model.Author.LastName</h2>
		</div>
	</div>

	@foreach (var post in Model.Posts)
	{
		<div class="card mb-3" id="post-@post.Id">
			<div class="card-header d-flex justify-content-between">
				<div>
					<strong>@post.Title</strong> by @post.Author on @post.CreatedAt.ToString("MMMM dd, yyyy")
				</div>
				<button class="btn btn-danger mb-3 deletePost" data-post-id="@post.Id">Delete Post</button>
			</div>
			@Html.Partial("PostContentPartial", post)
			@Html.Partial("CommentsPartial", post)
		</div>
	}
</div>